<div class="container p-4">
  <h1><%= @collection.name %></h1>
  <p class="lead"><%= @collection.items.count %> items in collection</p>
</div>


<div class="row container-fluid">
  <% @items.each do |item| %>
  <%= link_to item_path(item) do %>
  <div class="col-6 p-1">
    <div class="card h-100">
      <%= image_tag(item.primary_img, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text" style="white-space:normal"><%= item.name %></p>
        <p class="card-text"><%= number_to_currency  item.price %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% end %>

<%= link_to 'Back', collections_path %>
