

<div class="row m-0 p-0">
  <div class="col-12 m-0 p-0">
    <div class="card card-img p-4 mt-4 cover-image overlay"
      style="background-image:url(<%=url_for(@rand_item.image) if @rand_item.image%>)">
    
      <h1 class="display-8">
        <%= @rand_item.name %>
      </h1>
      <div>
        <% if in_saved_list? @rand_item %>
            <small class="badge badge-dark badge-pill">saved</small>
        <% end %>
      </div>
      <p class="lead">Ethically Produced. Thoughtfully Designed.</p>
      
      <hr class="my-4">
      <div class="d-flex justify-content-between">
        <div>
        <p><%= number_to_currency  @rand_item.price %></p>
        </div>
        <div>
          <% if in_saved_list? @rand_item %>
            <a class="" href="#" role="button">
              <%= link_to icon('fas', 'minus'), items_list_remove_path(@rand_item), method: :post,
                class: "btn btn-danger btn-md" %>
            </a>
          <% else %>
          
            <a class="" href="#" role="button">
              <%= link_to icon('fas', 'plus'), items_list_save_path(@rand_item), method: :post,
                class: "btn btn-dark btn-md" %>
            </a>
          <% end %>
        </div>
        
        
      </div>
    </div>
    
  </div>
</div>

<h2 class="row container-fluid mt-4 p-4">Popular</h2>
  
<div class="row container-fluid">
  <% @items.each do |item| %>
  <div class="col-6 p-1">
      <% unless in_saved_list? item %>
        <%= link_to items_list_save_path(item), method: :post do %>
        <div class="card h-100">
          <%= image_tag(item.image, class:"card-img-top") %>
          <div class="card-body">
            <p class="card-text" style="white-space:normal"><%= item.name %></p>
            <p class="card-text"><%= number_to_currency  item.price %></p>
            <small class="badge badge-pill badge-info">unsaved</small>
          </div>
        </div>
        <% end %>
        
      <% else %>  
        <%= link_to items_list_remove_path(item), method: :post do %>
        <div class="card h-100">
          <%= image_tag(item.thumbnail, class:"card-img-top") %>
          <div class="card-body">
            <p class="card-text" style="white-space:normal"><%= item.name %></p>
            <p class="card-text"><%= number_to_currency  item.price %></p>
            <small class="badge badge-pill badge-dark">saved</small>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>
  <% end %>
</div>

<hr class="my-4">

<div class="row container-fluid mt-4 p-4 d-flex justify-content-between">
  <h2>Collections</h2>
  <div>
    <%= link_to collections_path, class: "btn btn-primary" do %>
      See All <i class = "fas fa-plus"></i>
    <% end %>
  </div>
</div>

<div class="row container-fluid">
<% @collections.each do |collection| %>
  <div class="col-6 p-1">
  <%= link_to collection_path(collection) do %>
    
    <div class="card h-100">
      <%= image_tag(collection.thumbnail, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text" style="white-space:normal"><%= collection.name %></p>
      </div>
    </div>  

  <% end %>
  </div>
<% end %>
</div>  


<hr class="my-4">

<div class="container-fluid mt-4 p-4">
  <h2>Newsletter</h2>
  <p class="lead">Don't miss out! Signup to our newsletter.</p>
</div>

<div class="container-fluid">
  <%= form_with url: newsletter_path do |form| %>
    <div class="form-group">
    <%= form.text_field :email, class:"form-control form-control-lg", placeholder:"Your email here!" %><br>
    <%= form.submit "Signup", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

  

  







