<%= form_with(model: item_collection, local: true) do |form| %>
  <% if item_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item_collection from being saved:</h2>

      <ul>
      <% item_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :collection %>
    <%= form.text_field :collection %>
  </div>


  <div class="actions">
    <%= form.submit "Add item" %>
  </div>
<% end %>
