<%= form_with(model: item_collection, local: true) do |form| %>
  <% if item_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_collection.errors.count, "error") %> prohibited this item_collection from being saved:</h2>

      <ul>
      <% item_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :item %>
    <%= form.collection_select :item_id, Item.all, :id, :name, {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :collection %>
    <%= form.collection_select :collection_id, Collection.all, :id, :name, {}, {class: "form-control"} %>
  </div>


  <div class="actions">
    <%= form.submit "Add item" %>
  </div>
<% end %>
