<div class="row container-fluid mt-4 p-4 d-flex justify-content-between">
  <h1>Catalogue</h1>
  <div>
    <%= link_to items_path, class: "btn btn-primary" do %>
      Filter <i class = "fa fa-filter"></i>
    <% end %>
  </div>
</div>

<div class="container">
<%= form_tag("/items", method: 'get') do %>
  <div>
    <%= label_tag(:collection_ids, "filter by collection:") %>
  </div>
  <%= collection_check_boxes :item, :collection_ids, Collection.all, :id, :name, include_hidden: false do |b| %>
    <%= b.label(class:"form-check-label") { b.check_box + " " + b.text } %><br>
  <% end %>
  <%= submit_tag("Filter")%>
  
<% end %>
</div>





<div class="container-fluid">
  <% if is_admin? %>
    <%= link_to 'New Item', new_item_path, class: "btn btn-primary my-2" %>
  <% end %>
</div>

<div class="row container-fluid">
<% @items.each do |item| %>
  <div class="col-6 p-1">
  <%= link_to item_path(item) do %>
  
    <div class="card h-100">
      <%= image_tag(item.primary_img, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text" style="white-space:normal"><%= item.name %></p>
        <% if is_admin? %>
        <p>
          <%= link_to 'Edit', edit_item_path(item), class: "badge badge-warning badge-pill" %></td>
          <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger badge-pill" %>
        </p>
        <% end %>
      </div>
    </div>  

  <% end %>
  </div>
<% end %>
</div>  




