
<div class="row container-fluid mt-4 p-4">
  <h1>Catalogue</h1>
</div>


<%= form_tag items_path, method: :get do %>
<div class="form-inline container">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Products" %>
    <%= submit_tag "Search", class: "btn btn-primary my-1" %>
  <% end %>
</div>

<hr class="mb-3">

<div class="container-fluid" id="accordian">
  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#filterCollapse" 
          aria-expanded="false">
    Toggle Filter Options
  </button>
  
  <div id="filterCollapse" class="collapse show"  data-parent="#accordion">
  <%= form_tag("/items", method: 'get') do %>
    
    <small class="text-muted">Filter Collections</small>
    <div class="btn-group-toggle mb-2" data-toggle="buttons">
      <%= collection_check_boxes :item, :collection_ids, Collection.all, :id, :name, include_hidden: false do |b| %>
          <%= b.label(class:"btn btn-light btn-sm") { b.check_box + " " + b.text } %>
      <% end %>
    </div>
    
    <small class="text-muted">Filter Colours</small>
    <div class="btn-group-toggle mb-2" data-toggle="buttons">
      <%= collection_check_boxes :item, :colour_ids, Colour.all, :id, :colour_code, include_hidden: false do |b| %>
        <%= 
          b.label(class:"btn btn-light btn-sm p-2", style:"border:2px solid ##{b.text}"){ b.check_box } 
        %>
      <% end %>
    </div>
    
    <small class="text-muted">Filter Sizes</small>
    <div class="btn-group-toggle mb-2" data-toggle="buttons">
      <%= collection_radio_buttons :item, :size_id, Size.all, :id, :size_label ,include_blank: true do |b| %>
        <%= b.label(class:"btn btn-light btn-sm") { b.radio_button + " " + b.text } %>
      <% end %>
    </div>
    
    <%= submit_tag("Filter", class: "btn btn-primary")%>
  <% end %>
  
  </div>
</div>

<hr class="mb-3">


<div class="container-fluid">
  <% if is_admin? %>
    <%= link_to 'New Item', new_item_path, class: "btn btn-primary my-2" %>
  <% end %>
</div>

<div class="row container-fluid">
<% if @items.blank? %>
  <div class="alert alert-info p-4 m-4">
    <h4 class="alert-heading">No results... </h4>
    <hr>
    <p class="mb-0">Try adjusting your filters and search query.</p>
  </div>
<% end %>  

<% @items.each do |item| %>
  <div class="col-6 p-1">
  <%= link_to item_path(item) do %>
  
    <div class="card h-100">
      <%= image_tag(item.primary_img, class:"card-img-top") %>
      <div class="card-body">
        <p class="card-text" style="white-space:normal"><%= item.name %></p>
        <% if is_admin? %>
        <p>
          <%= link_to 'Edit', edit_item_path(item), class: "badge badge-warning badge-pill" %></td>
          <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger badge-pill" %>
        </p>
        <% end %>
      </div>
    </div>  

  <% end %>
  </div>
<% end %>
</div>  



