<div id="itemsCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @item.images.each_with_index do |image, index| %>     
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag @item.thumbnail(image)%>
      </div>
    <% end %>
  </div>
  
  <a class="carousel-control-prev" href="#itemsCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#itemsCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container p-4">
  <h1><%= @item.name %></h1>
  <p class="lead"><%= number_to_currency @item.price %></p>
</div>

<div class="container p-4">
  <%= form_for @order_item do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <div class="form-group">
      <%= f.number_field :quantity, value: 1, min: 1, class: "form-control", placeholder: "Quantity?" %>
    </div>
    
    <%= f.submit "Add to Bag", class: "btn btn-primary" %>
  <% end %>
</div>


