<div class="container">
  <div class="jumbotron row mb-0">
    <div class = "col sm-4">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "100x100!"), class: "rounded" %>
      <% else %>
        <%= image_tag gravatar_image_url(@user.email, size: 100), height: 100, width: 100, class: "rounded" %>
      <% end %>
    </div>
    <div class = "col">
      <h1 class="display-4"><%= current_user.username %></h1>
      <p class="lead"> <%= current_user.email %></p>
    </div>
  </div>
  
  <div class="row">
    <div class="list-group col p-0 w-100">
      <%= link_to shopping_bags_path, class: "list-group-item list-group-item-action d-flex justify-content-between" do %>
        Pending Orders
        <i class="fa fa-clock p-1"></i>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="list-group col p-0 w-100">
      <%= link_to edit_user_registration_path, class: "list-group-item list-group-item-action d-flex justify-content-between" do %>
        Update login details
        <i class="fa fa-pen p-1"></i>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="list-group col p-0 w-100">
      <%= link_to newsletter_path(email: @user.email), method: :post,  class: "list-group-item list-group-item-action d-flex justify-content-between" do %>
        Subscription
        <i class="fa fa-envelope p-1"></i>
      <% end %>
    </div>
  </div>

  
  
</div>