<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  
  <div class="navbar-nav mr-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <%= icon('fas', 'bars') %>
    </button>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home", root_path, class: "nav-item nav-link" %>
      <%= link_to "Saved", saved_path, class: "nav-item nav-link"  %>
      
      <div class="nav-item dropdown" aria-labelledby="navbarDropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Shop</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Collection.all.each do |collection| %>
            <%= link_to collection.name , collection_path(collection), class: "nav-item nav-link" %>
          <% end %>
        </div>
      </div>
      
      <%= link_to "Help and Support", help_and_support_path, class: "nav-item nav-link"  %>
    </div>
  </div>
  
  <div>
    <a href="#" class="p-2">
      <i class="fa fa-shopping-bag"></i>
    </a>
    
    <a href="#" class="p-2">
      <i class="fa fa-search"></i>
    </a>
  </div>

  
  
  
</nav>